@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.2rem;
    font-weight: 500;
    color: #3f63db;
}

.about_me {
    min-height: 400px;
    width: 100%;
    background-color: rgb(248, 231, 206);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picture_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    font-size: 1.5rem;
}

.picture_container img {
    width: 65%;
    height: 65%;
    padding: 0 0 2rem 0;
}

.about_me_container {
    display: flex;
    width: 65%;
    height: 20rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.about_me_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 50px;
    font-size: 3rem;
}


.about_me_container p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
    font-size: 1.5rem;
}

.projects {
    min-height: 500px;
    width: 100%;
    background-color: rgb(235, 247, 252);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.project_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.project_container table {
    width: 200px;
    height: 400px;
}

.project_container td {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgb(183, 255, 248);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.project_container td:hover {
    background-color: rgb(103, 194, 185);
}

.project_display {
    min-height: 450px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.header_project {
    font-size: 3rem;
    height: 20%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.project_list {
    font-size: 1.2rem;
}

#project_box {
    min-width: 800px;
    padding: 200px;
    max-height: 80%;
    border: 2px solid rgb(104, 103, 100);
    border-radius: 10px;
    font-size: 1.2rem;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
    background-color: rgb(59, 59, 59);
}

.ri-mail-line {
    color: white;
    font-size: 10rem;
}

.ri-github-fill {
    color: white;
    font-size: 10rem;
}

@media only screen and (max-width: 1010px) {
    .projects {
        flex-flow: column;
    }
    .project_container {
        flex-flow: column;
    }
    .project_display {
        display:none;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar:hover {
        background-color:#482ff7;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}